<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Web Side by Tú</title>
	<link rel="stylesheet" href="./dinh-dang.css">
</head>
<body>
	<div class="wrapper">
		<nav>
			<img src="./Images/logo_login.png" class="img"  alt="logo"> 
			<ul>
				<li><a href="#">Trang chủ</a></li>
				<li><a href="#">Khóa học</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">BLog</a></li>
				<li><a href="#">liên hệ</a></li>
			</ul>
		</nav>
		<div class="section">
			<h1>FOR THE BETTER FUTURE</h1>
			<a href="#"><button class="btn-1">GET STARTED</button></a>
			<div class="features">
				<button>Lớp Học Online</button>
				<button>Thư Viện</button>
				<button>Thực Hành</button>
				<button>Hỏi Đáp</button>
			</div>
			

		</div>
	</div>
	<showcase>
		<h1>Có Thể Bạn Quan Tâm</h1>
		<div class="course">
			<div class="php_mysql">
				<h3>PHP & MySQL</h3>
				<img src="./Images/hinh2.jpg" alt="PHP & MySQL">
				<br>
				<a href="#"><button class="apply">APPLY HERE</button></a>
			</div>
			<div class="java">
				<h3>Java Core</h3>
				<img src="./Images/hinh4.jpg" alt="Java">
				<br>
				<a href="#"><button class="apply">APPLY HERE</button></a>
			</div>
			<div class="data_science">
				<h3>Data science</h3>
				<img src="./Images/hinh3.jpg" alt="Data science">
				<br>
				<a href="#"><button class="apply">APPLY HERE</button></a>
			</div>
		</div>
	</showcase>
	<footer>
		<p>Copy Right  &copy; Tú.Vũ Hoàng</p>
	</footer>
</body>
</html>