<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Web Side by Tú</title>
	<link rel="stylesheet" href="./dinh-dang.css">
</head>
<body>
	<!--Header Content-->
	<div id="header-content">
		<nav>
			<a href="/"> <img id="logo" src="./Images/logo_login.png" class="img" alt="logo"></a> 
			<ul>
				<li><a href="#">Trang chủ</a></li>
				<li><a href="#">Khóa học</a></li>
				<li><a href="#">Liên hệ</a></li>
				<li><a href="#">Quản Trị</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</nav>
	</div>
	<!--end//Header Content-->
	<!--Page Container-->
	<div id="page-container">
		<!--Main Content-->
		<div class="notify__column1">
			<span class="notify__column1--item notify__column1--item--font"><b>Chức năng</b></span>
			<span class="notify__column1--item notify__column--height notify__column--height--font"><b>1.Danh Sách Khóa Học</b></span>
		</div>
		<div class="notify__column2">
			<span class="notify__column2--item notify__column2--item--font"><b>Danh Sách Khóa Học</b></span>
			<span class="notify__column2--item notify__column--height">
				<table>
					<tr class="notify__column2--row--inside">
						<th class="notify__column2--item--inside">STT</th>
						<th class="notify__column2--item--inside">Tên Khóa học</th>
						<th class="notify__column2--item--inside">Thể loại</th>
						<th class="notify__column2--item--inside">Ngày tạo</th>
						<th class="notify__column2--item--inside">Công cụ</th>
					</tr>
					<tr class="notify__column2--row--inside">
						<td class="notify__column2--item--inside">
						<span>1</span>
						</td>
						<td class="notify__column2--item--inside">lập trình java cơ bản</td>
						<td class="notify__column2--item--inside">Java</td>
						<td class="notify__column2--item--inside">16/03/2020</td>
						<td class="notify__column2--item--inside">
							<a href="#" class="notify__column2--item--inside--link">Sửa</a>
						</td>
					</tr>						
				</table>
			</span>
		</div>
		<!--end//Main Content-->

		<!--Footer Content-->
		<footer id="footer-content">
			<p>Copy Right  &copy; Tú.Vũ Hoàng</p>
		</footer>
		<!--end//Footer Content-->
	</div>
	<!--end//Page Container-->
</body>
</html>
